.hamb-wrap {
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.hamb-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  height: 60px;
  width: 60px;
  cursor:pointer;
}

.hamb-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  padding: 1rem;
  background: var(--prmary-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* First hamburger line */
.hamb-wrap .hamburger > div {
  position: relative;
  /* top: ; */
  flex: none;
  width: 100%;
  height: 2px;
  background: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-speed) ease-in-out;
}

/* Top and bottom hamburger lines */
.hamb-wrap .hamburger > div::before,
.hamb-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  top: -10px;
  background: inherit;
  width: 100%;
  z-index: 1;
  height: 2px;
}
/* show bottom hmaburger line */
.hamb-wrap .hamburger > div::after {
  top: 10px;
}

/* Animiting the hamburger menu icon*/
/* Rotating the hamburger menu */
.hamb-wrap .toggler:checked + .hamburger > div {
  transform: rotate(130deg);
}
/* truning hamburger ico into X when checked it */
.hamb-wrap .toggler:checked + .hamburger > div::before, 
.hamb-wrap .toggler:checked + .hamburger > div::after {
  transform: rotate(90deg);
  top: 0;
} 

/* rotaing the X when toggler when hamburger checked */
.hamb-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(220deg);
}

/* TO show menu */
.hamb-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.hamb-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--transition-speed);
}
.hamb-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: all var(transform) ease;
}

/* menu of hamburger icon */
.hamb-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

/* Overlay */
.hamb-wrap .menu > div {
  background: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200vw;
  height: 300vw;
  border-radius: 50%;
  flex: none;
  transition: all var(--transition-speed) ease-in-out 0.1s;
  transform: scale(0);
}


.hamb-wrap .menu > div > div {
  max-width: 90vw;
  text-align: center;
  max-height: 100vh;
  opacity: 0;
  transition: all var(--transition-speed) ease 1s;
}

.hamb-wrap .menu ul li {
  list-style: none;
  padding: 1.4rem;
}

.hamb-wrap .menu .btn {
  color: var(--color);
  text-decoration: none;
  font-size: 1.6rem;
  transition: all var(--transition-speed) ease-in-out;
} 

.hamb-wrap .menu a:hover {
  /* background: var(--overlay-color); */
  color: var(--secondary-color);
}
